/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for PALLOR processes
 */

params {

  /*
  General parameters
  */
  // Help message
  help = false
  monochrome_logs = false

  /*
  Outputs steps directory names in output directory
  */
  steps_data = "01_steps-data"
  completness_dirname = "${steps_data}/01_completness"
  concatenate_dirname = "${steps_data}/02_concatenate"
  extract_shared_sg_dirname = "${steps_data}/03_extract_shared_sg"
  alignment_dirname = "${steps_data}/04_alignment"
  cleaning_dirname = "${steps_data}/05_cleaning"
  matrix_dirname = "${steps_data}/06_matrix"
  tree_dirname = "${steps_data}/07_tree"

  /*
  Analysis report
  */
  report_template = ""
  report_css = ""
  report_logo = ""

  /*
  Steps to activate or deactivate
  */
  // tree_enable = true

}
