/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for PALLOR processes
 */

params {

  /*
  General parameters
  */
  // Help message
  help = false
  monochrome_logs = false
  name = "test_dataset"
  // Analyzed project name
  projectName = "test_dataset"
  // Raw data directory
  rawdata_dir = "${baseDir}/test_data/"
  // Output directory to publish workflow results
  outdir = "${baseDir}/PALLOR_results_on_${projectName}"

  /*
  Outputs steps directory names in output directory
  */
  steps_data = "01_steps-dir"
  //publish_dirname = "02_publish-dir"
  assembly_completness_dirname = "${steps_data}/01_assembly_completness"

  /*
  Analysis report
  */
  report_template = ""
  report_css = ""
  report_logo = ""

  /*
  Steps to activate or deactivate
  */
  // tree_enable = true

  /*
  Conda environments
  */
  biopython_env = ". ${baseDir}/conf/conda_envs/biopython_env.sh"
  busco_env = ". ${baseDir}/conf/conda_envs/busco_env.sh"
  gblocks_env = ". ${baseDir}/conf/conda_envs/gblocks_env.sh"
  iq-tree_env = ". ${baseDir}/conf/conda_envs/iq-tree_env.sh"
  mafft_env = ". ${baseDir}/conf/conda_envs/mafft_env.sh"
  seqtk_env = ". ${baseDir}/conf/conda_envs/seqtk_env.sh"

  /*
  BUSCO quality check
  */
  odb_path = "/home/ref-bioinfo/tools_data/busco/v4"
  odb_name = "campylobacterales_odb10"

}
