/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for PALLOR processes
 */

params {

  /*
  General parameters
  */
  name = "test_dataset"
  // Analyzed project name
  projectName = "test_dataset"
  // Raw data directory
  rawdata_dir = "${baseDir}/test_data/*.fna"
  // Output directory to publish workflow results
  outdir = "${baseDir}/PALLOR_results_on_${projectName}"

  /*
  BUSCO quality check
  */
  odb_path = "/home/ref-bioinfo/tools_data/busco/v4"
  odb_name = "microsporidia_odb10"

  /*
  Extract single copy genes shared between species
  */
  min_species = "2"

}
